name: CI

on:
  push:
    branches: 
    - '**'
  pull_request:
    branches:
    - '**'

jobs:
  lint:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.6.0
      uses: actions/setup-python@v3
      with:
        python-version: "3.6.0"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install poetry
        python -m poetry install
    - name: Lint with black
      run: |
        python -m poetry run black .\ego_mss --check
    - name: Lint with isort
      run: |
        python -m poetry run isort .\ego_mss --diff
    - name: Lint with flake8
      run: |
        python -m poetry run flake8 .\ego_mss --statistics
    - name: Lint with pylint
      run: |
        python -m poetry run pylint .\ego_mss
